@charset "UTF-8";
/* Variables */
/* Couleurs */
/* Positions de l'élément du spinner
$vert: 64px 77px 84px 77px 64px 42px 21px 6px 0px 6px 21px 42px;
$hori: 79px 64px 43px 23px 6px 1px 6px 23px 43px 64px 79px 84px;
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "roboto", sans-serif;
}

span {
  font-weight: bold;
}

/* Fonts */
/* Bouton */
.button {
  background: #9356DC;
  /* anciens navigateurs */
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -moz-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -ms-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -o-linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 3px 3px 5px grey;
  height: 50px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__name {
  color: #fff;
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: 5px 5px 5px grey;
}

/* En-tête */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 52px;
}

a {
  text-decoration: none;
  color: #000;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 1.3em;
  z-index: 1;
}

#logo {
  width: 170px;
  height: 40px;
}

/* Bas de page */
footer {
  background-color: #3f3f3f;
  height: 145px;
  color: #fff;
  padding: 25px 0px 25px 25px;
}
footer ul {
  padding: 0px;
}
footer ul li {
  list-style-type: none;
}
footer ul li .fa-utensils {
  margin-right: 16px;
}
footer ul li .fa-hands-helping {
  margin-right: 10px;
}
footer a {
  color: #fff;
  font-size: 0.8em;
}
footer p {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 0.4em 0;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 0 0 1.2em 0;
}
footer .command {
  background-color: #f7f7f7;
}
@media (min-width: 768px) {
  footer {
    text-align: center;
  }
}

/* Fonctionnement */
#fonctionnement {
  max-width: 1220px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
  height: 390px;
  margin: auto;
}
@media (min-width: 768px) {
  #fonctionnement {
    height: 250px;
  }
}
#fonctionnement h2 {
  font-weight: bold;
  font-size: 1.5em;
}
@media (min-width: 992px) {
  #fonctionnement h2 {
    padding-left: 0px;
    padding-bottom: 10px;
  }
}

#groupe_etape {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #groupe_etape {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 35px;
  }
}

.etape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .etape {
    width: 30%;
  }
}
.etape__indice {
  background-color: #9356DC;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
}
.etape__bg {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-left: -15px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ececec;
}
.etape__bg .fa-mobile-alt {
  font-size: 1.5em;
  opacity: 0.8;
  margin-left: 35px;
  margin-right: 9px;
}
.etape__bg .fa-list-ul {
  font-size: 1.5em;
  opacity: 0.8;
  margin-left: 35px;
}
.etape__bg .etape__titre {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .etape__bg .etape__titre {
    padding-left: 20px;
  }
}
.etape__bg2 {
  background-color: #f2eafb;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-left: -15px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ececec;
}
.etape__bg2 .fa-store {
  font-size: 1.5em;
  color: #9356DC;
  opacity: 0.8;
  margin-left: 35px;
  margin-right: -5px;
}
.etape__bg2 .etape__titre {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .etape__bg2 .etape__titre {
    padding-left: 20px;
  }
}

/* Introduction */
.introduction {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 50px 30px;
  height: 220px;
}
@media (min-width: 768px) {
  .introduction {
    height: 200px;
  }
}

#titre {
  text-align: center;
}
#titre h1 {
  font-size: 1.5em;
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 768px) {
  #titre h1 {
    font-size: 2.5em;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
}
#titre p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

/* general */
/* Retire la flèche de l'entête pour la page d'accueil */
.accueil .fa-arrow-left {
  display: none;
}

#geolocalisation {
  display: flex;
  background-color: #ececec;
  justify-content: center;
  align-items: baseline;
  box-shadow: inset 0px 5px 5px -5px #A2A2A2;
  height: 50px;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

/* menus et sous-menus */
.menu_img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 992px) {
  .menu_img {
    height: 600px;
  }
}

.menu_bg {
  background-color: #f7f7f7;
  height: auto;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  max-width: 650px;
}

.menu_titre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 50px;
}
@media screen and (min-width: 768px) {
  .menu_titre {
    padding-left: 52px;
  }
}
.menu_titre h1 {
  font-size: 25px;
  font-family: shrikhand, sans-serif;
}

.sous_menu_titre {
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .sous_menu_titre {
    padding-left: 50px;
  }
}

.sous_menu_titre::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 4px;
  width: 40px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.sous_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sous_menu__item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ececec;
  width: 85%;
  height: 70px;
  margin-bottom: 20px;
  /*padding: 0px 10px;*/
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  animation: fondu 3s;
  animation-fill-mode: both;
  position: relative;
}
.sous_menu__item:hover .select {
  transform: scaleX(1);
  opacity: 1;
}
.sous_menu__item:hover .sous_menu--description {
  width: 83%;
}
.sous_menu__item:hover .fa-check-circle {
  transform: rotate(-360deg);
  transition: transform 800ms;
}
.sous_menu__item p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}
.sous_menu__item h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}
.sous_menu--price {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-right: 10px;
}

@keyframes fondu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.delay-5 {
  animation-delay: 1s;
}

.delay-6 {
  animation-delay: 1.2s;
}

.delay-7 {
  animation-delay: 1.4s;
}

.delay-8 {
  animation-delay: 1.6s;
}

.delay-9 {
  animation-delay: 1.8s;
}

.delay-10 {
  animation-delay: 2s;
}

.sous_menu--description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform-origin: left 90%;
  transition: width 800ms;
}

.titre_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.titre_item p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titre_item h2 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  right: 0px;
  opacity: 1;
  transform: scaleX(0);
  transition: transform 800ms;
  transform-origin: right;
}
.select .fa-check-circle {
  color: #fff;
}

.commande {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Restaurants */
.fond_vignette_rest {
  background-color: #fff;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  box-shadow: 3px 3px 8px 1px #BDBDBD;
  position: relative;
}
@media (min-width: 992px) {
  .fond_vignette_rest {
    width: 45%;
    height: 350px;
  }
}

.rest_image {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
@media (min-width: 992px) {
  .rest_image {
    height: 260px;
  }
}

.description_vignette_rest {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0 15px;
}

#restaurant {
  background-color: #f7f7f7;
  padding-bottom: 60px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  margin: auto;
}

#titre_restaurant h2 {
  font-size: 1.5em;
  margin: 0px;
}

#groupe_vignettes_rest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  #groupe_vignettes_rest {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.titre_vignette_rest p {
  font-size: 1em;
  margin-top: -15px;
  margin-bottom: 0;
}
.titre_vignette_rest h3 {
  margin-top: 15px;
  font-size: 1.2em;
}

.nouveau__etiquette {
  background-color: #99E2D0;
  color: #32b091;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
}

@keyframes fondu_heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.favori {
  padding-top: 20px;
  position: relative;
}
.favori .heart .fa-heart {
  color: #3f3f3f;
}
.favori__bg {
  position: absolute;
  top: 20px;
  opacity: 0;
}
.favori__bg .fa-heart::before {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-linear-gradient(to bottom, #9356DC, #FF79DA);
  /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(to bottom, #9356DC, #FF79DA);
  /* Chrome10-25,Safari5.1-6 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favori:hover .favori__bg {
  animation: fondu_heart 2s;
  animation-fill-mode: forwards;
}
.favori:hover .heart {
  opacity: 0;
  transition: opacity 2s;
}

/* Spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 75%;
  animation: spinner_bg 3s;
  /* Durée du spinner */
}
.spinner__animation {
  position: relative;
  height: 100px;
  width: 100px;
}
.spinner__animation div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: spinner_animation 1s linear 2;
  /* Durée 1 tour et nbre de tours */
}
.spinner__animation div:nth-child(1) {
  animation-delay: 0s;
  top: 68px;
  left: 84px;
}
.spinner__animation div:nth-child(2) {
  animation-delay: 0.0666666667s;
  top: 84px;
  left: 68px;
}
.spinner__animation div:nth-child(3) {
  animation-delay: 0.1333333333s;
  top: 90px;
  left: 45px;
}
.spinner__animation div:nth-child(4) {
  animation-delay: 0.2s;
  top: 84px;
  left: 23px;
}
.spinner__animation div:nth-child(5) {
  animation-delay: 0.2666666667s;
  top: 68px;
  left: 6px;
}
.spinner__animation div:nth-child(6) {
  animation-delay: 0.3333333333s;
  top: 45px;
  left: 0px;
}
.spinner__animation div:nth-child(7) {
  animation-delay: 0.4s;
  top: 23px;
  left: 6px;
}
.spinner__animation div:nth-child(8) {
  animation-delay: 0.4666666667s;
  top: 6px;
  left: 23px;
}
.spinner__animation div:nth-child(9) {
  animation-delay: 0.5333333333s;
  top: 0px;
  left: 45px;
}
.spinner__animation div:nth-child(10) {
  animation-delay: 0.6s;
  top: 6px;
  left: 68px;
}
.spinner__animation div:nth-child(11) {
  animation-delay: 0.6666666667s;
  top: 23px;
  left: 84px;
}
.spinner__animation div:nth-child(12) {
  animation-delay: 0.7333333333s;
  top: 45px;
  left: 90px;
}

/* Taille et couleur des éléments du spinner */
@keyframes spinner_animation {
  0%, 20%, 80% {
    transform: scale(1);
    background: #FF79DA;
  }
  50% {
    transform: scale(1.5);
    background: #9356DC;
  }
  100% {
    transform: scale(1);
    background: #FF79DA;
  }
}
/* Apparition progressive de la page d'accueil en fin de spinner */
@keyframes spinner_bg {
  0%, 80% {
    background: #f7f7f7;
    opacity: 1;
    z-index: 1;
  }
  100% {
    background: #f7f7f7;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
