.button {
	background: $color-primary; /* anciens navigateurs */
	background: linear-gradient(135deg, $color-secondary, $color-primary); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 30px;
	box-shadow: 3px 3px 5px grey;
	height: 50px;
	width: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
		&__name {
			color: #fff;
		}
		&:hover {
			filter: brightness(1.1);
			box-shadow: 5px 5px 5px grey;
		}
}