/* Couleurs et fonts */

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-thin-webfont.eot');
    src: url('../font/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-thin-webfont.woff2') format('woff2'),
         url('../font/roboto-thin-webfont.woff') format('woff'),
         url('../font/roboto-thin-webfont.ttf') format('truetype'),
         url('../font/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-medium-webfont.eot');
    src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-medium-webfont.woff2') format('woff2'),
         url('../font/roboto-medium-webfont.woff') format('woff'),
         url('../font/roboto-medium-webfont.ttf') format('truetype'),
         url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('../font/shrikhand-regular-webfont.eot');
    src: url('../font/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../font/shrikhand-regular-webfont.woff') format('woff'),
         url('../font/shrikhand-regular-webfont.ttf') format('truetype'),
         url('../font/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}