/* Variables */

/* Couleurs */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #3f3f3f;
$color-bg: #f7f7f7;

/* Positions de l'élément du spinner */
$vert: 64px 77px 84px 77px 64px 42px 21px 6px 0px 6px 21px 42px;
$hori: 79px 64px 43px 23px 6px 1px 6px 23px 43px 64px 79px 84px;
