footer {
	background-color: $color-footer;
	color: #fff;
	padding: 15px 0px 25px 20px;
		& .fa-utensils {
			margin-right: 16px;
		}
		& .fa-hands-helping {
			margin-right: 10px;
		}
		& a {
			color: #fff;
			font-size: 1em;
		}
		& p {
			margin: 5px;
		}
		& h2 {
			font-family: Shrikhand, cursive;
			font-weight: lighter;

			font-size: 1em;
		}	
		& .command {
			background-color: $color-bg;
		}
		@media (min-width: 768px)
		{
			text-align: center;
		}
}
