/* general */


.accueil .fa-arrow-left {
    display: none; 
}

#geolocalisation {
	display: flex;
	background-color: #ececec;
	justify-content: center;
	align-items: baseline;
}

.fa-map-marker-alt {
	margin-right: 20px;
}

.fa-arrow-left {
	position: absolute;
	left: 35px;
	top: 20px;
	z-index: 1;
}

a {
	text-decoration: none;
	color: #000;
}


