/* En-tête */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	height: 52px;
}

a {
	text-decoration: none;
	color: #000;
}

.fa-arrow-left {
	position: absolute;
	left: 20px;
	top: 25px;
	font-size:1.3em;
	z-index: 1;
}

#logo{
	width:170px;
	height: 40px;
}
